# Docker compose files
docker-compose.yml
docker-compose.test*
.env
!scripts/.env
!openstack/.env
# ignore static files
data/*
build/dashboard/app/vendor
build/dashboard/tools/
tools/*
!tools/adminer.php
!tools/phpinfo.php
# ignore tmp or specific files
tmp*
myscripts*
.phpintel
