# Docker compose files
docker-compose.yml
.env
# ignore static files
data/database
data/logs
data/www/drupal*
data/www/TOOLS/*/
data/www/TOOLS/adminer.sql*
# ignore tmp or specific files
tmp*
myscripts*
