# Docker compose files
docker-compose.yml
.env
# ignore static files
data/*
build/dashboard/app/vendor
build/dashboard/tools/
tools/*
!tools/adminer.php
!tools/phpinfo.php
# ignore tmp or specific files
tmp*
myscripts*
